.home{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 90.5vh;
    width: 100vw;
    background-color: aqua;
    background-image: url('../images/home.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
}

.block{
    height: 70%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 100px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-txt{
  font-size: 2em;
  color:#23976F;
  font-weight: bolder;
  margin-bottom: 20px;
}

.txt{
  font-size: 1.5em;
  margin: 20px 0px;
  color: #025235;
}

.home-txt{
    font-size: 2em;
    color: #025235;
    font-weight: bold;
    margin: 30px 0;
}

.btn-div {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.4em;
    background-color: #31C48D;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 20px;
    margin: 30px;
  }

.btn-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  .btn-div:hover {
    background-color: #23976F; /* Slightly darker shade on hover */
    transform: scale(1.05);
  }

  .btn-div:hover::before {
    transform: translateX(0);
  }